.card_icon3{
    position: relative;
    min-height: 200px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
   
  }
  .card__icon3 > table{
    margin-left: 170px;
  }
  .card__icon3 {
    grid-row: 2/3;
    font-size: 30px;
  }
  .congrats>img{
    display: flex;
     margin-left: 25%;
     max-height: 400px;
   width: 60%;
  }